@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

@theme {
  --font-sans: Roboto, ui-sans-serif, system-ui, sans-serif;
  --color-bg: #f9f9f9;
  --color-text: #00000;
  --color-accent: #cab7ff;
  --color-secondary: #00000;
  --shadow-soft: 0 6px 24px rgba(0,0,0,.18);
}